#wisp{
  background-image:url('https://res.cloudinary.com/dlcjpudng/image/upload/v1629756184/Landing/whiteWispOp.svg');
    background-size: 100%;
    background-position: 0 0;
}


#h2alt.h2{
  width: 100%;
  color:#315c46;    
    text-align: left;
    margin-top: 50px
  }



.protoLink{
  text-decoration: none;
  color: #000;
  margin-bottom: 22px;
  display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
}

.protoLink p{
  margin-left: 30px;
}
.protoLink:hover p{ 
  text-decoration: underline !important;
}

.prototypes{
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;
}

.proto .mobile{
  width: 40%;
}

.proto .desktop{
  width: 100%;

}
#whiteWisp{
  margin-bottom: -1px;
  margin-right: 0px;
  width: 110%;

}
#homefooter{
  padding-top:60px !important;
  background-color: white;
  color: black;
  z-index: 2;
  width: 100%;
  padding: 50px 15% 100px;
}

#homefooter h3{
  color:#515754;
  
}

#homefooter ul{
  padding-left: 15px;
}

#homefooter li{
color:#515754;  
  font-family: Lato, sans-serif;
font-size: 18px;
line-height: 28px;
font-weight: 300;
}



  #homefooter p, #homefooter a #homefooter .paragraph-3{
  color: black;
}

#homefooter .div-block-5{
  border-top: 1px solid black;
}


#inversefooter{
  padding: 50px 10% 100px;
  /* padding-top: 50px !important; */
  background: linear-gradient(329.29deg, #34644C 43.34%, #369573 93.91%) ;
  background-color: #377B5F !important;
  background-repeat: none !important;
  background-size: 100%;
  color: white;
  z-index: 2;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#inversefooter h2, #inversefooter h3, #inversefooter p, #inversefooter a #inversefooter .paragraph-3{
  color: white;
}

#inversefooter .div-block-5{
  border-top: 1px solid white;
}


#inversefooter ul{
  padding-left: 15px;
}

#inversefooter li{
color:white;  
  font-family: Lato, sans-serif;
font-size: 18px;
line-height: 28px;
font-weight: 300;
}





h1 {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.section1 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: none;
  padding-right: 0%;
  padding-bottom: 187px;
  padding-left: 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #315c46;
  background-image: url('https://res.cloudinary.com/dlcjpudng/image/upload/v1614728835/background_home_ftcuza.png'), url('https://res.cloudinary.com/dlcjpudng/image/upload/v1614728835/background_home_ftcuza.png');
  background-position: 50% 106%, 100% 100%;
  background-size: 105%, 80%;
  background-repeat: no-repeat, no-repeat;
  text-transform: none;
}

.section1.section2 {
  margin-top: -9px;
  padding-top: 0px;
  padding-right: 0%;
  padding-left: 0%;
  background-image: none;
}

.section2 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  padding-top: 131px;
  padding-right: 12%;
  padding-left: 12%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #617d6f;
}

.welcome {
  display: block;
  width: 75%;
  max-width: none;
  margin: 80px auto 50px 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.project {
  color:white;
  position: relative;
  width: auto;
  margin-right: 50px;
  margin-bottom: 60px;
  max-width: 331px;
  min-height: 480px;  
  padding-left:30px;
  padding-top:21px;
  border-left: 5px solid #ACE8CA;
  background-color: none;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  
  
}




.project h3{
height:0px;
margin: 0px;
padding: 0px;
padding-bottom: 60px;
font-size: 32px;
line-height: 37.57px;
font-weight: 700;
transition-duration: 0.5s;
}

.project:hover h3 {
  text-decoration: underline;
}

.project p{
font-family: Lato, sans-serif;
color:white;
font-size: 18px;
line-height: 28px;
font-weight: 300;
}

.projectButton{
width: 40px;
height: 40px;
position: absolute;
bottom: 20px;
}


.paragraph-2 {
  font-family: Lato, sans-serif;
  color: #315c46;
  font-size: 1.3vw;
  line-height: 1.5vw;
  text-decoration: none;
}

.div-block-5 {
margin-top: 100px;
padding-top: 20px;
border-top: 1px solid white;
}

.image-2 {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 0px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
  color:white;

  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  text-decoration: none;
}

.paragraph-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Raleway, sans-serif;
  color:white;
  font-size: 12px;
  font-weight: 300;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0%;
  padding-left: 0%;
  /* padding-top:200px; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: url('https://res.cloudinary.com/dlcjpudng/image/upload/v1614728835/background_home_ftcuza.png'),linear-gradient(329.29deg, #34644C 43.34%, #369573 93.91%);
  background-color: #315c46;
  background-position: 100% 0%;
  background-size: auto 90%, 100% 200%;
  background-repeat: no-repeat;
  font-family: Raleway, sans-serif;
  color:White;
  text-decoration: none;

}
.welcomeHeading {
  height: auto;
  margin-top: 0px;
  align-items: center;
  opacity: 1;
  font-family: Raleway, sans-serif;
  font-size: 200px;
  line-height: normal;
}
.welcomeParagraph {
  font-family: Raleway, sans-serif;
  max-width: 500px;
  font-size: 48px;
  line-height: 50px;
  font-weight: 300;
  margin-bottom: 50px;
}

.ghostbtn {  
  padding: 12px 50px;
  border: 2px solid white;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: Raleway,sans-serif;
}

#passButton{
  display: none;
  text-decoration: none;
  padding: 12px 70px;
  border-radius: 100px;
  background-color: #377B5F;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.paragraph-5 {
  /* display: none; */
  width: 60%;
  margin-top: 45px;
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.heading-3 {
  font-size: 64px;
  line-height: 75px;
  width: 28%;
}

.utility-page-wrap {
  display: inline-block;
  width: 336px;
  height: 385px;
  max-height: 100%;
  max-width: 100%;
  padding-top: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px 40px 40px;
  background-color: #fff;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #7a8780;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 60px;
  color: #315c46;
  text-align: left;
}

.text-field {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 3px solid #315c46;
  border-radius: 20px;
}

.submit-button {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  max-height: 38px;
  max-width: 38px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 20px;
  background-color: #315c46;
}

.div-block-7 {
  position: relative;
  display: block;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph-6 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: -9px;
  margin-bottom: 0px;
  margin-left: 30px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  border: 1px none #315c46;
  background-color: #fff;
  color: #315c46;
}

.paragraph-7 {
  text-align: left;
}

.body-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  padding-right: 0%;
  padding-left: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  -o-object-fit: fill;
  object-fit: fill;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Raleway, sans-serif;
  color:#515754;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: normal;
  text-transform: capitalize;
}

.h3.learningp {
  margin-top: 50px;
}

.paragraph-8 {
  width: 100%;
  max-width: 500px;
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.paragraph-8.aboutp {
  width: 70%;
}

.paragraph-8.withline {
  margin-top: 0px;
  margin-bottom: 24px;
  padding-top: 20px;
  border-style: solid none none;
  border-width: 1px 0px 0px;
  border-color: #000 #000 #000 #315c46;
}

.paragraph-8.whitetext {
  color: #fff;
}

.heading-8 {
  margin-top: 0px;
  margin-bottom: 12px;
  color: #333;
  font-size: 32px;
}

.headerone {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-right: 12%;
  padding-left: 12%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  background-color: #377B5F;
  text-align: left;
}


.projectoverview {
  max-width: 1500px;
  margin-top: 0px;
  margin-right: 0%;
  margin-bottom: 0px;
  padding-right: 12%;
  padding-left: 12%;
}

.projectdetails {
  position: relative;
  max-width: 1500px;
  margin-top: 60px;
  margin-right: 0%;
  padding-right: 10%;
  padding-bottom: 200px;
  padding-left: 10%;
  background-image: url('https://res.cloudinary.com/dlcjpudng/image/upload/v1629657050/greenSidebar_vwzzjk.svg');
  background-size:  35%;
  background-repeat:  repeat-y;
  background-attachment:  scroll;
}







.projecthero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.smallbrow {
  margin-bottom: 10px;
  direction: ltr;
  font-family: Raleway, sans-serif;
  color: #617d6f;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  text-align: justify;
  letter-spacing: 0.225em;
  text-decoration: none;
  text-transform: uppercase;
}

.smallbrowcontent {
  width: 250px;
  margin-bottom: 40px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.projectingredients {
  width: auto;
  max-width: 500px;
  padding-left: 30px;
}

.image-4 {
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 50px;
}

.phasedetails {
  display: block;
  width: 50%;
  margin-left: 150px;
  padding-left: 0px;
}

.projectphase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.h2 {
  width: 26%;
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 0px;
  color: #fff;
  font-size: 42px;
  line-height: 52px;
  text-align: right;
  font-family: Raleway, sans-serif;
}



















.spacer {
  width: 26%;
  padding-right: 0px;
}

.image-5 {
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: 7px;
  margin-bottom: 50px;
  background-color: transparent;
  box-shadow: 1px 0 40px 0 rgba(0, 0, 0, 0.1);
}

.image-5.halfimg {
  width: 96%;
  box-shadow: none;
}

.image-5.halfimg.personimg {
  position: relative;
  left: 38%;
  display: inline-block;
  width: 49%;
  clear: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-11 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.block-quote {
  position: static;
  left: 0%;
  top: 31%;
  right: 0%;
  bottom: auto;
  width: 100%;
  margin-bottom: 0px;
  margin-left: 30px;
  padding: 0px 9px 0px 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px none #000;
  font-size: 18px;
  line-height: 33px;
  font-style: italic;
}

.block-quote.largequote {
  margin-left: 0px;
}

.h1 {
  margin-top: 60px;
  padding-bottom: 0px;
  font-family: Raleway, sans-serif;
  color: #315c46;
  font-size: 100px;
  line-height: 98px;
}

.div-block-12 {
  width: 37px;
  height: 0px;
  border-style: solid;
  border-width: 4px;
  border-color: #617d6f;
}

.paragraph-10 {
  margin-bottom: 38px;
  font-family: Raleway, sans-serif;
  line-height: 18px;
}

.image-7 {
  display: none;
  width: auto;
  height: 340px;
  max-width: none;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.link-4 {
  margin-left: 0%;
  color: #fff;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  text-transform: lowercase;
  white-space: normal;
}

.link-4.aboutLink {
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  border-left:solid 1px white;
  padding-left: 22px;
  margin-left: 22px;

}













.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}



.image-8 {
  max-height: none;
  max-width: 120px;
  min-height: auto;
  min-width: 120px;
}

.paragraph-11 {
  position: static;
  width: 65%;
  color: #315c46;
  font-size: 38px;
  line-height: 50px;
  font-weight: 300;
}

.herobold {
  color: #617d6f;
  font-weight: 600;
}

.caption {
  width: 250px;
  color: #fff;
  font-size: 9px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.255em;
  text-transform: uppercase;
}

.caption.scrollcap {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 246px;
  font-size: 10px;
}

.caption.captnudged {
  margin-left: 25px;
  padding-right: 0px;
}

.div-block-15 {
  width: 100%;
}

.div-block-15.halfimg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0px;
}

.image-9 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.cluserl {
  width: 100%;
  margin-top: 22px;
}

.btt {
  position: fixed;
  left: auto;
  top: auto;
  right: 3%;
  bottom: 5%;
  z-index: 100;

  display: none;
  width: 100px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  text-decoration: none;
}

.text-block {
  margin-top: 12px;
  color: #315c46;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.link-8 {
  color: #fff;
  font-size: 18px;
  line-height: 37px;
  font-weight: 300;
  text-decoration: none;
}

.columns {
  width: 70%;
  margin-bottom: 0px;
}

.image-12 {
  width: auto;
  height: 175px;
  max-width: none;
}

.image-13 {
  position: absolute;
  left: 0%;
  top: -25%;
  right: auto;
  bottom: auto;
  z-index: -3;
  display: none;
  width: 100%;
  max-width: none;
}

.div-block-17 {
  /* display: -webkit-box; */
  /* display: -webkit-flex; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  width: 50%;
  /* height: auto; */
  /* margin-top: 30px; */
  /* font-weight: 600; */
}

.image-14 {
  position: absolute;
  left: 0%;
  top: -12%;
  right: auto;
  bottom: auto;
  z-index: -1;
  display: none;

}

.link-9 {
  color:black;
  text-decoration: underline;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  justify-content: flex-start;
      flex-wrap: wrap;
    flex-direction: row;
  
}


.headshot {
  padding-left: 30px;
  width: 30%;
  height: 100%;
  object-fit: cover; /*magic*/
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  min-width: 0px;
  margin-top: 30px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.image-18 {
  width: 40px;
  padding-left: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: #315c46;
  border-radius: 0px;
}

.heading-9 {
  font-family: Lato, sans-serif;
  color: #315c46;
  font-size: 24px;
}

.containermain {
  padding-left: 0%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.halfimg {
  width: 100%;
}

.div-block-22 {
  width: 50%;
  margin-bottom: 50px;
  padding-left: 60px;
}

.div-block-23 {
  width: 50%;
}

.text-span {
  display: block;
  margin-bottom: -18px;
  font-size: 16px;
}

.scrollimg {
  position: relative;
  display: block;
  overflow: auto;
  width: 112%;
  height: 600px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-19 {
  overflow: auto;
  max-height: 100%;
  max-width: none;
  min-height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-12 {
  margin-bottom: 0px;
  padding-top: 18px;
  border-style: solid none none;
  border-width: 2px 1px 1px;
  border-color: #315c46;
  color: #315c46;
  font-size: 24px;
}

.paragraph-17 {
  margin-bottom: 100px;
  padding-bottom: 25px;
  border-bottom: 2px solid #315c46;
}

.div-block-24 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  border-left: 2px solid #315c46;
  font-family: Lato, sans-serif;
  color: #315c46;
  font-size: 45px;
  line-height: 29px;
  font-weight: 700;
}

.secondarylist {
  width: auto;
  padding-left: 0px;
}

.secondarylist.minislist {
  width: 55%;
  padding-left: 27px;
}

.numbgreen {
  position: relative;
  bottom: -20px;
  z-index: 2;
  width: 40px;
  margin-right: 13px;
  background-color: #fff;
  color: #315c46;
  font-size: 24px;
  font-weight: 700;
}

.numbgreen.altgreen {
  bottom: 0px;
  width: 28px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.numbgreen.altgreen.percentli {
  margin-right: 50px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.diamondpr {
  height: 50px;
  margin-bottom: 12px;
  font-family: Lato, sans-serif;
  color: #315c46;
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 3px;
}

.simplelist2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.div-block-26 {
  width: 100%;
  margin-top: 20px;
}

.h4 {
  margin-top: 50px;
  color: #315c46;
  font-size: 24px;
  line-height: 28px;
}

.list-3 {
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.image-20 {
  display: none;
  width: auto;
  height: 340px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.bulletsli {
  margin-bottom: 21px;
  margin-left: -23px;
  font-family: Lato, sans-serif;
}

.image-21 {
  margin-bottom: 50px;
}

.div-block-27 {
  margin-top: 50px;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Lato, sans-serif;
}

.div-block-29 {
  width: 50%;
}

.heading-14 {
  margin-top: 0px;
  font-family: Lato, sans-serif;
  color: #315c46;
  font-size: 24px;
  line-height: 1.2;
}

.paragraph-19 {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.valuescol {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.image-22 {
  width: auto;
  height: 230px;
  max-width: none;
  margin-top: 20px;
  padding-right: 30px;
}

.image-22.aboutgif {
  height: 250px;
  padding-right: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

/* @media screen and (min-width: 1440px) { */
/*  */
  /* .headshot { */
    /* padding-left: 30px; */
    /* width: 30%; */
    /* height: 100%; */
    object-fit: cover; magic
  /* } */
  /* .section1 { */
    /* display: inline-block; */
    /* max-width: none; */
    /* margin-left: 0px; */
    /* padding-right: 0%; */
    /* padding-left: 0%; */
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-direction: normal; */
    /* -webkit-flex-direction: row; */
    /* -ms-flex-direction: row; */
    /* flex-direction: row; */
    /* -webkit-box-pack: center; */
    /* -webkit-justify-content: center; */
    /* -ms-flex-pack: center; */
    /* justify-content: center; */
    /* -webkit-align-self: auto; */
    /* -ms-flex-item-align: auto; */
    /* -ms-grid-row-align: auto; */
    /* align-self: auto; */
    /* text-align: left; */
  /* } */
/*  */
  /* .section2 { */
    /* width: 100%; */
    /* max-width: none; */
    /* padding-top: 100px; */
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-direction: normal; */
    /* -webkit-flex-direction: row; */
    /* -ms-flex-direction: row; */
    /* flex-direction: row; */
    /* -webkit-box-pack: end; */
    /* -webkit-justify-content: flex-end; */
    /* -ms-flex-pack: end; */
    /* justify-content: flex-end; */
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
    /* -webkit-align-self: center; */
    /* -ms-flex-item-align: center; */
    /* -ms-grid-row-align: center; */
    /* align-self: center; */
    /* background-color: #617d6f; */
  /* } */
/*  */
  /* .projectsdiv { */
/*      */
    /* display: block; */
    /* max-width: none; */
    /* -webkit-box-pack: start; */
    /* -webkit-justify-content: flex-start; */
    /* -ms-flex-pack: start; */
    /* justify-content: flex-start; */
    /* -webkit-box-align: start; */
    /* -webkit-align-items: flex-start; */
    /* -ms-flex-align: start; */
    /* align-items: flex-start; */
  /* } */

  .div-block.projectsdiv {
    width: 100%;
  }
/*  */
  /* .project { */
    /* display: block; */
    /* width: 32%; */
    /* min-width: 250px; */
    /* height: 350px; */
    /* padding-right: 50px; */
    /* padding-bottom: 40px; */
    /* padding-left: 50px; */
  /* } */
/*  */
/*  */
  /* .paragraph-2 { */
    /* font-size: 18px; */
    /* line-height: 28px; */
  /* } */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
  /* .heading-2 { */
    /* padding-bottom: 12px; */
    /* font-size: 26px; */
    /* line-height: 32px; */
  /* } */
/*  */
  /* .body-3 { */
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
    /* background-image: url('https://res.cloudinary.com/dlcjpudng/image/upload/v1614732892/Rectangle-183_lel1wp.png'); */
    /* background-position: 0% 447%; */
    /* background-repeat: no-repeat; */
  /* } */
/*  */
  /* .h3 { */
    /* text-transform: none; */
  /* } */
/*  */
  /* .paragraph-8 { */
    /* margin-bottom: 30px; */
    /* line-height: 24px; */
  /* } */
/*  */
  /* .paragraph-8.withline { */
    /* border-top: 2px solid #315c46; */
  /* } */
/*  */
  /* .headerone { */
    /* position: absolute; */
    /* width: 100%; */
    /* padding-left: 200px; */
  /* } */
/*  */
  /* .projectoverview { */
    /* margin-top: 0px; */
    /* padding-top: 155px; */
    /* padding-right: 200px; */
    /* padding-left: 200px; */
  /* } */
/*  */
  /* .projectdetails { */
    /* width: 100%; */
    /* max-width: none; */
    /* padding-right: 200px; */
    /* padding-left: 200px; */
    /* background-image: url('https://res.cloudinary.com/dlcjpudng/image/upload/v1629656567/greenSidebar__vwzzjk.svg'); */
    /* background-position: 0px 0px; */
    /* background-size:  35%; */
    /* background-repeat:  repeat-y; */
    /* background-attachment: scroll; */
  /* } */
/*  */
  /* .smallbrowcontent { */
    /* margin-bottom: 40px; */
  /* } */
/*  */
  /* .h2.h2alt { */
    /* margin-bottom: 30px; */
    /* font-family: Raleway, sans-serif; */
  /* } */
/*  */
  /* .block-quote { */
    /* padding-right: 0px; */
    /* padding-left: 20px; */
  /* } */
/*  */
  /* .h1 { */
    /* margin-top: 0px; */
  /* } */
/*  */
  /* .link-4 { */
    /* margin-left: 0%; */
  /* } */
/*  */
  /* .section { */
    /* background-color: #ffbcbc; */
  /* } */
/*  */
  /* .paragraph-11 { */
    /* width: 60%; */
  /* } */
/*  */
  /* .image-13 { */
    /* top: -20%; */
  /* } */
/*  */
  /* .image-14 { */
    /* top: -16%; */
    /* display: block; */
  /* } */
/*  */
  /* .div-block-19 { */
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    /* display: flex; */
/*      */
    /* height: auto; */
    /* max-width: none; */
    /* margin-top: 50px; */
    /* -webkit-box-pack: justify; */
    /* -webkit-justify-content: space-between; */
    /* -ms-flex-pack: justify; */
    /* justify-content: space-between; */
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
  /* } */
/*  */
  /* .image-15 { */
    /* width: auto; */
    /* height: 340px; */
    /* max-width: 77%; */
    /* min-width: 544px; */
    /* margin-left: 60px; */
  /* } */
/*  */
  /* .heading-9 { */
    /* height: 50px; */
  /* } */
/*  */
  /* .scrollimg { */
    /* overflow: auto; */
    /* width: 100%; */
  /* } */
/*  */
  /* .div-block-24 { */
    /* color: #315c46; */
    /* font-size: 32px; */
    /* font-weight: 700; */
  /* } */
/*  */
  /* .h4 { */
    /* margin-bottom: 30px; */
    /* color: #333; */
  /* } */
/*  */
  /* .list-3 { */
    /* padding-left: 15px; */
  /* } */
/*  */
  /* .valuescol { */
    /* padding-right: 30px; */
    /* padding-left: 0px; */
    /* -webkit-align-self: flex-start; */
    /* -ms-flex-item-align: start; */
    /* align-self: flex-start; */
  /* } */
/* } */
/*  */

@media screen and (max-width: 750px) {

  .protoLink {
    padding-top: 40px;
  }

  .welcomeHeading {
    font-size: 100px;
    line-height: normal;
  }
  .welcomeParagraph {
    font-size: 35px;
    line-height: 50px;
    
  }
  
  .project {
    width: 100%; 
    min-height: 400px;
    margin-bottom: 30px;
    margin-top: 30px;
    
  }


  #inversefooter{
    padding: 50px 30px 100px;
  }

  .section1 {
    margin-bottom: 0px;
    padding-right: 30px;
    padding-left: 12px;
    background-image: url('https://res.cloudinary.com/dlcjpudng/image/upload/v1614728890/greenWhisp_ir4dhx.png'), url('https://res.cloudinary.com/dlcjpudng/image/upload/v1614728835/background_home_ftcuza.png');
    background-position: 50% 106%, 100% 100%;
    background-size: 92%, auto;
    background-repeat: no-repeat, no-repeat;
  }

  .section2 {
    padding-right: 12px;
    padding-left: 12px;
  }








  .paragraph-2 {
    font-size: 18px;
    line-height: 28px;
  }

  .div-block-5 {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .projectdetails {
    margin-top: 0px;
    margin-bottom: 100px;
  }


 

  .heading-2 {
    font-size: 21px;
    line-height: 22px;
  }

  .button {
    width: 100%;
  }

  .paragraph-5 {

    width: auto;
    line-height: 28px;
  }

  .body-3 {
    max-width: 100%;
    background-color: #fff;
    white-space: normal;
  }

  .h3 {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 40px;
    font-weight: 600;
    color:#515754;
  }

  .h3.learningp {
    margin-top: 60px;
    color:#515754;
  }

  .paragraph-8 {
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-bottom: 12px;
    padding-bottom: 15px;
    line-height: 25px;
  }

  .paragraph-8.aboutp {
    /* width: 100%; */
  }

  .paragraph-8.withline {
    width: 100%;
  }

  .heading-8 {
    margin-top: 0px;
  }

  .headerone {
    position: fixed;
    z-index: 30;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .projectoverview {
    margin: 0px 30px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .projectdetails {
    display: block;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-image: none;
  }

  .projectdetails.aboutme {
    display: none;
  }

  .projecthero {
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .smallbrow {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
  }

  .smallbrowcontent {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .projectingredients {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0px;
  }

  .image-4 {
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .phasedetails {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .projectphase {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .h2 {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 30px 0% 12px 0px;
    clear: none;
    text-align: left;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-color: transparent;
    color: #315c46;
    font-size: 52px;
    line-height: 48px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .h2.otherprojects {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 12px;
    padding-bottom: 60px;
    padding-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background-color: transparent;
    background-image: none;
    color: #fff;
    font-size: 42px;
  }

  .h2.h2alt {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    background-color: transparent;
    background-image: none;
    font-size: 46px;
    line-height: 50px;
  }

  .image-5 {
    height: auto;
    margin-top: 12px;
    margin-bottom: 30px;
  }

  .image-5.halfimg {
    width: 100%;
    margin-top: 0px;
  }

  .image-5.halfimg.personimg {
    padding-left: auto;
    padding-right: auto;
    width: 150px;
  }

  .div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .block-quote {
    position: static;
    width: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }

  .h1 {
    margin-top: 130px;
    font-size: 45px;
    line-height: 56px;
  }

  .paragraph-10 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .image-7 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-right: 0px;
  }

  .link-4 {
    margin-left: 0px;
    padding-left: 0px;
    text-align: left;
  }
.link-4.link-4.aboutLink{
  /* display: none; */
}



  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .otherprojectslink {
    width: auto;
    margin-bottom: 30px;
    padding-left: 0px;
    font-size: 18px;
  }

  .image-8 {
    position: relative;
    width: 100px;
    max-width: none;
    min-width: 100px;
    margin-bottom: 30px;
  }

  .paragraph-11 {
    width: 100%;
    padding-right: 0px;
    font-size: 24px;
    line-height: 38px;
  }

  .herobold {
    background-color: transparent;
  }

  .caption {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 12px;
    color: #315c46;
    font-size: 12px;
  }

  .caption.scrollcap {
    width: 93%;
    margin-left: 24px;
    padding-left: 0px;
    color: #315c46;
    font-size: 12px;
  }

  .div-block-15 {
    margin-top: 24px;
  }

  .div-block-15.halfimg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-9 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .div-block-16 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .btt {
    right: 5%;
    z-index: 100;
    overflow: auto;
    width: 50px;
  }

  .text-block {
    font-size: 11px;
    line-height: 15px;
  }

  .link-8 {
    font-size: 18px;
  }

  .image-13 {
    position: absolute;
    width: 0%;
  }

  .div-block-17 {
    width: auto;
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-direction: normal; */
    /* -webkit-flex-direction: column; */
    /* -ms-flex-direction: column; */
    /* flex-direction: column; */
  }

  .image-14 {
    top: -2%;
  }

  .div-block-19 {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }


.headshot {
  padding-left: 0px;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  min-height: 100px;
  object-fit: cover; 
}

  .div-block-20 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-21 {
    margin-top: 12px;
    margin-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .columns-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-9 {
    margin-top: 10px;
  }

  .containermain {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: #f5f5f5;
  }

  .div-block-22 {
    width: 100%;
    padding-left: 0px;
  }

  .div-block-23 {
    width: 100%;
  }

  .scrollimg {
    overflow: auto;
    width: 100%;
    height: 290px;
    margin-bottom: 12px;
  }

  .image-19 {
    margin-left: 24px;
  }

  .secondarylist.minislist {
    width: 100%;
    padding-left: 0px;
  }

  .diamondpr {
    height: 40px;
    margin-bottom: 12px;
    margin-left: 20px;
    color: #315c46;
    font-size: 12px;
    line-height: 15px;
  }

  .simplelist2 {
    margin-bottom: 0px;
  }

  .image-20 {
    height: auto;
    margin-bottom: 20px;
  }

  .div-block-28 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-29 {
    width: 100%;
  }

  .heading-14 {
    margin-bottom: 30px;
    line-height: 30px;
  }

  .column-15 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-16 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-17 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .valuescol {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-18 {
    padding-left: 0px;
  }

  .image-22 {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding-right: 0px;
  }

  .image-22.aboutgif {
    height: auto;
    padding-right: 0px;
  }

  .div-block-31 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

